@import './vars.less';
*,html{
  box-sizing: border-box;
}

:link, :visited{
  text-decoration: none;
}

ul, ol{
  list-style: none;
}

h1, h2, h3, h4, h5, h6, pre, code, p{
  font-size: 1em;
}

ul, ol, dl, li, dt, dd, h1, h2, h3, h4, h5, h6, pre,
form, body, html, p, blockquote, fieldset, input{
  padding: 0;
  margin: 0;
}

a img, :link img, :visited img{
  border: none;
}

address{
  font-style: normal;
}

.clear{
  clear: both;
}

body{
  color: @textColor;
  font: @mainFontSize @mainFontFamily;
}

a, .a{
  text-decoration: underline;
  cursor: pointer;
  transition: color .2s ease;
}

.btn{
  display: inline-block;
}

input:not([type="checkbox"]):not([type='radio']){
  max-width:@wf-input-max-width;
  height: @wf-input-height;
  color: @wf-blue;
  border: @wf-input-border;
  padding: @wf-input-inner-padding;
  border-radius: @wf-input-border-radius;
  &:hover{
    color:@wf-dark-blue;
  }
}
input[type="submit"]{
  max-width: @wf-input-max-width;
  height:@wf-input-height;
  border-radius: @wf-input-border-radius;
}

button{
  height: @wf-btn-height;
  background: none;
  appearence: none;
  font-size: @wf-button-font-size;
  color:@wf-blue;
  border:@wf-btn-border;
  border-radius: @wf-btn-border-radius;
  cursor: pointer;
  &:hover{
    color:@wf-dark-blue;
  }
}