:link, :visited{
  text-decoration: none;
}

ul, ol{
  list-style: none;
}

h1, h2, h3, h4, h5, h6, pre, code, p{
  font-size: 1em;
}

ul, ol, dl, li, dt, dd, h1, h2, h3, h4, h5, h6, pre,
form, body, html, p, blockquote, fieldset, input{
  padding: 0;
  margin: 0;
}

a img, :link img, :visited img{
  border: none;
}

address{
  font-style: normal;
}

@import './vars.less';

.clear{
  clear: both;
}

body{
  color: @textColor;
  font: @mainFontSize @mainFontFamily;
}

a, .a{
  text-decoration: underline;
  cursor: pointer;
  transition: color .2s ease;
}

.wf-layout{
  &--login{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.wf-top-pane{
  background: @paneColor;
  height: @topPaneHeight;
  color: @lightTextColor;
  box-sizing: border-box;
  border-bottom: 3px solid @color1;
  overflow: hidden;
  font-weight: 300;
  &__left{
    padding:0 20px;
    box-sizing: border-box;
    width:@leftPartSize;
    float:left;
  }
  &__right{
    margin-left:@leftPartSize;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:0 20px;
    height: @topPaneHeight - 3;
    box-sizing: border-box;
  }
}
.wf-logo{
  font-size: 1.8em;
  font-weight: 300;
  line-height: @topPaneHeight - 3;
  color:@lightTextColor;
  margin-bottom:0.3em;
  &--login{
    font-size: 2.8em;
    text-align:center;
    color:@textColor;
  }
  &__span{
    color: @color1;
  }
}
.wf-wrapper{
  position: absolute;
  top: @topPaneHeight;
  left:0;
  right:0;
  bottom:0;
  overflow:hidden;
}
.wf-left{
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: @leftPartSize;
  background: @leftMenuColor;
  color: #fff;
  overflow: auto;
  border-right:@leftMenuBorder;
}
.wf-right{
  margin-left: @leftPartSize;
  padding: 12px 20px;
}
.wf-menu{
  &__link{
    color: @textColor;
    display: block;
    //border-bottom: 1px solid @lightTextColor;

    border-bottom: 1px solid @leftMenuBorder;
    padding: 12px 20px;
    transition: .2s background ease, .2s color ease;
    &:hover{
      background: @leftMenuColorHover;
    }
    &--active{
      background: @color1;
      color: @lightTextColor;
      &:hover{
        background: @color1;
      }
    }
  }
}

.wf-login-form{
  margin: auto;
  width: 300px;
  position: relative;
  top: -30px;
}
.form{
  &__row{
    margin-bottom:15px;
  }
  &__field{
    font-family: @mainFontFamily;
    width:100%;
    box-sizing:border-box;
    border:none;
    border-bottom:1px solid #cccccc;
    height:30px;
    font-size:1.2em;
    outline:none;
    transition: .2s border-color ease;
    .form__row--error &{
      border-bottom-color: @errorColor;
    }
  }
  &__field::-webkit-input-placeholder{
    font-weight:300;
  }

  &__submit-row{
    margin-top: 1.5em;
  }
  &__error{
    font-size:0.7em;
    color:@errorColor;
    position:absolute;
  }
}

.wf-btn{
  font-size:1.2em;
  font-family: @mainFontFamily;
  background: @color1;
  color: @lightTextColor;
  width:100%;
  border:none;
  border-radius:3px;
  height:38px;
  line-height:36px;
  transition: .2s background ease, .2s color ease;
  cursor: pointer;
  outline:none;
  &:hover{
    background: darken(@color1, 3);
  }
  &:active{
    background: darken(@color1, 20);
  }
  &--disabled {
    background: @disabled;
    cursor: default;
    &:hover{
      background: @disabled;
    }
    &:active{
      background: @disabled;
    }
  }
}