// ---- Colors -----
@textColor: #333333;
@wf-negative-text-color: #fff;
@darkBgColor: #ffffff;
@whiteBg: #ffffff;

@mainBg: #f1f4f5;
@plankBg: #ef7a53;
@vkBlue: #54769B;
@cashColor: #EFBA12;

// got them on color scheme: http://colorscheme.ru/
@wf-dark-blue: #00709B;
@wf-blue: #00AEEF;
@wf-light-blue: #3EC4F7;
@wf-lighter-blue: #6FD1F7;

@wf-brown: #A67600;
@wf-dark-peach: #BF9630;
@wf-peach: #FFB600;
@wf-light-peach: #FFC840;
@wf-lighter-peach: #FFD773;


// ---- Fonts ----
@mainFontFamily: 'Open Sans', 'Arial', sans-serif;
@mainFontSize: 16px;

// ---- Sizes ----
@wf-border-radius : 2px;
@wf-margin-bottom : 20px;

// ---- Inputs ----
@wf-input-max-width: 450px;
@wf-input-height: 40px;
@wf-input-border: 1px solid;
@wf-input-border-hover: 1px solid;
@wf-input-inner-padding: 10px 15px;
@wf-input-border-radius: @wf-border-radius;

// ---- Buttons ----
@wf-btn-border: @wf-input-border;
@wf-btn-border-hover: @wf-input-border-hover;
@wf-btn-border-radius: @wf-border-radius;
@wf-btn-height: 40px;
@wf-button-font-size: @mainFontSize;