@textColor: #333333;
@darkBgColor: #ffffff;
@whiteBg: #ffffff;

@paneColor: #303030;
@leftMenuColor: #E9E9E9;
@leftMenuColorHover: #DDDDDD;
@leftMenuBorder: #DDDDDD;
@lightTextColor: #ffffff;

@color1: #0085e2;

@mainBg: #f1f4f5;
@plankBg: #ef7a53;
@vkBlue: #54769B;
@cashColor: #EFBA12;

@mainFontFamily: 'Open Sans', 'Arial', sans-serif;
@mainFontSize: 14px;

@topPaneHeight: 50px;
@leftPartSize: 250px;